@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

@plugin "daisyui" {
  themes: localchefbazaar --default;
}

@plugin "daisyui/theme" {
  name: localchefbazaar;
  default: true;

  --color-primary: #3cbf8a;
  --color-primary-content: #ffffff;

  --color-secondary: #1e6f5c;
  --color-secondary-content: #e6fff7;

  --color-accent: #f9c846;
  --color-accent-content: #1f1f1f;

  --color-neutral: #2a2a2a;
  --color-neutral-content: #f5f5f5;

  --color-base-100: #ffffff;
  --color-base-200: #f5f7f4;
  --color-base-300: #e9ece6;
  --color-base-content: #111111;

  --color-info: #4da7ff;
  --color-info-content: #ffffff;

  --color-success: #57c878;
  --color-success-content: #06220f;

  --color-warning: #ffb74a;
  --color-warning-content: #1f1f1f;

  --color-error: #ff6b6b;
  --color-error-content: #ffffff;

  /* --depth: 0;
  --noise: 1; */
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
